.todo{
    &__header{
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        align-items: center;
        border-bottom: 2px solid rgb(237, 235, 255);
        flex-wrap: wrap;
    }
    &__tags-filter{
        width: 100%;
        border-top: 1px solid rgb(237, 235, 255);
        padding-top: 10px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    &__tag-item{
        display: flex;
        align-items: center;
        padding: 3px;
        margin: 5px 5px;
        border: 1px solid rgb(136, 154, 255);
        color: rgb(136, 154, 255);
        border-radius: 5px;
        >span{
            margin-right: 5px;
            font-size: 16px;
        }
        >svg{
            cursor: pointer;
            transition: all .3s;
            &:hover{
                color: rgb(85, 110, 255);;
            }
        }
    }

    &__btn{
        // outline: none;
        // background: unset;
        // border: 1px solid transparent;
        // border-radius: 5px;
        margin: 0 5px!important;
        // &.active,&:hover{
        //     background: rgb(232, 229, 255);
        //     border: 1px solid rgb(237, 235, 255);
        // }
        &:last-child{
            margin-right: unset!important;
        }
    }
}